<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">a, a:visited{color: lightskyblue;}</style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HW Server - ELEC 305</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.png">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
   </head>
    <body style="background-color:black;margin-top:20px;margin-left:20px">
        <p id="titlepart" style="color:white; font-size:20px;">HW Server for ELEC 305 @ KU</p>
        <form id="f1", method="post">
            <label style="color:white;" for="demo_selection">Select HW #:</label><br>
            <select id="hw_selection_dropdown" name="hw_selection">
                <option value="HW1"     >HW 1</option>
            </select>
            <br><br>
            <button type="submit" onclick="submitForm(event)">Navigate to HW</button><br><br>
        </form>
        <script>
            var apiform = document.getElementById("f1");
            function submitForm(event) {
                event.preventDefault();
                apiform.submit();
            }
        </script>
    </body>
</html>