<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">a, a:visited{color: lightskyblue;}</style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HW1 - ELEC 305</title>
        <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.png">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
   </head>
    <body style="background-color:black;margin-top:20px;margin-left:20px">
        <p id="titlepart" style="color:white; font-size:20px;">HW 1 for ELEC 305 @ KU</p>
        <label id="titlepart1" style="color:white;">- Link to <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q1" target="_blank">Question 1</a></label><br>
        <label id="titlepart2" style="color:white;">- Link to <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q2" target="_blank">Question 2</a></label><br>
        <label id="titlepart3" style="color:white;">- Link to <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q3" target="_blank">Question 3</a></label><br>
        <label id="titlepart4" style="color:white;">- Link to <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q4" target="_blank">Question 4</a></label><br>
        <label id="titlepart5" style="color:white;">- Link to <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q5" target="_blank">Question 5</a></label><br>
    </body>
</html>