<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">a, a:visited{color: lightskyblue;}</style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q5 - HW1 - ELEC 305 </title>
        <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.png">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <script type="module" defer>
          (async ({ chrome, netscape }) => { if (!chrome && !netscape) await import('https://unpkg.com/@ungap/custom-elements'); 
            const { default: HighlightedCode } = await import('https://unpkg.com/highlighted-code'); HighlightedCode.useTheme('monokai-sublime'); })(self);
        </script>
        <style>
            table {color:white; font-family: monospace; border-collapse: collapse;}
            td, th {border: 1px solid #dddddd; text-align: center; padding: 8px;}
        </style>
   </head>
    <body style="background-color:black;margin-top:20px;margin-left:20px">
        <p id="titlepart" style="color:white; font-size:20px;">HW1 - Q5 - ELEC 305</p>
        <p id="explnpart" style="color:white; font-family: monospace;">Please enter your username and password below before submitting.</p><br>
        <form id="qform" onsubmit="submitform(event)" method="post">
            <label style="color:white; font-family: monospace;" for="username">ELEC 305 username:</label> <input type="text" id="username" name="username"><br>
            <label style="color:white; font-family: monospace;" for="password">ELEC 305 password:</label> <input type="password" id="password" name="password"><br>

            <br>
            <hr> <!-- ----------------------------------------------------------------------------------------------------------------------------------------- --> 
            <br>
            
            <label style="color:white; font-family: monospace;" for="p0"><b>Question 5)</b> Describe a VHDL circuit that takes a 1-bit signal called A as well as
                <br>a clock signal called clk as input, and drives a 2-bit vector named leds (each bit drives an LED).
                <br>The LEDs should toggle at every rising edge of clk, and they should be conditional to A,
                <br>i.e., when A=0, leds(0) should be blinking, and when A=1, leds(1) should be blinking. 
                <br>Use the <font color="#2473c7"><b>std_logic</b></font> and <font color="#2473c7"><b>std_logic_vector</b></font> data types.
            </label>
            <br><br>

            <label style="color:white; font-family: monospace;" for="p1">- Signal/port names must be *exactly* the same as in the question, and entity name must be <font color="#2473c7"><b>hw1_q5</b></font>.</label><br>
            <label style="color:white; font-family: monospace;" for="p2">- You can check the server testbench for this question at <a class="ulink" href="https://ghdl.buraksoner.com/content/hw1_q5_tb.vhdl" target="_blank">content/hw1_q5_tb.vhdl</a>.</label><br><br>
            <label style="color:white; font-family: monospace;" for="p3">Your VHDL:</label><br><br>

            <textarea id="input_text_hw1_q5" is="highlighted-code" spellcheck="false" autocorrect="off" autocapitalize="off"
                      language="vhdl" tab-size="2" name="input_text" style="width: 600px; height: 300px;" value="{{ input_text }}"></textarea>
            <br><br>
            <input type="hidden" id="buttonaction" name="buttonaction" value="">
            <input type="submit" name="buttonaction" value="Check Syntax" onclick="setButtonAction('Check Syntax')">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="buttonaction" value="Check Functionality" onclick="setButtonAction('Check Functionality')">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="buttonaction" value="Submit Answer" onclick="setButtonAction('Submit Answer')">
            <p id="qout" style="color:white;">{{ qout|safe }}</p>
            <br>
        </form>

        <br>
        <hr> <!-- ----------------------------------------------------------------------------------------------------------------------------------------- --> 
        
        <p id="links" style="color:white;">Links to other questions in HW1</p>
        <label id="titlepart1" style="color:white;">- <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q1" target="_blank">Question 1</a></label><br>
        <label id="titlepart2" style="color:white;">- <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q2" target="_blank">Question 2</a></label><br>
        <label id="titlepart3" style="color:white;">- <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q3" target="_blank">Question 3</a></label><br>
        <label id="titlepart4" style="color:white;">- <a class="ulink" href="https://ghdl.buraksoner.com/hw1_q4" target="_blank">Question 4</a></label><br>

        <script>
            // Load saved data from local storage
            document.addEventListener("DOMContentLoaded", function() {
              const mem_password = localStorage.getItem("password");
              if (mem_password) document.getElementById("password").value = mem_password;
              
              const mem_username = localStorage.getItem("username");
              if (mem_username) document.getElementById("username").value = mem_username;
              
              const mem_input_text_hw1_q5 = localStorage.getItem("input_text_hw1_q5");
              if (mem_input_text_hw1_q5) document.getElementById("input_text_hw1_q5").value = mem_input_text_hw1_q5;
            });

            function setButtonAction(value) {
                document.getElementById("buttonaction").value = value;
            } 
                       
            var qform = document.getElementById("qform");
            var qout  = document.getElementById("qout");
            function submitform(event) {
                event.preventDefault();
                
                const mem_password = document.getElementById("password").value;
                localStorage.setItem("password", mem_password);
                
                const mem_username = document.getElementById("username").value;
                localStorage.setItem("username", mem_username);
                
                const mem_input_text_hw1_q5 = document.getElementById("input_text_hw1_q5").value;
                localStorage.setItem("input_text_hw1_q5", mem_input_text_hw1_q5);

                qform.submit();
                qout.innerHTML = "Submitted request..."
            }
        </script>
    </body>
</html>