<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">a, a:visited{color: lightskyblue;}</style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Q3 - HW2 - ELEC 305 </title>
        <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.png">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <script src="https://ghdl.buraksoner.com/static/wavedromskins/narrow.js" type="text/javascript" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wavedrom/3.1.0/wavedrom.min.js" type="text/javascript" defer></script>
        <script type="module" defer>
          (async ({ chrome, netscape }) => { if (!chrome && !netscape) await import('https://unpkg.com/@ungap/custom-elements'); 
            const { default: HighlightedCode } = await import('https://unpkg.com/highlighted-code'); HighlightedCode.useTheme('monokai-sublime'); })(self);
        </script>
        <style>
            table {color:white; font-family: monospace; border-collapse: collapse;}
            td, th {border: 1px solid #dddddd; text-align: center; padding: 8px;}
        </style>
   </head>
    <body style="background-color:black;margin-top:20px;margin-left:20px" onload="WaveDrom.ProcessAll()">
        <p id="titlepart" style="color:white; font-size:20px;">HW2 - Q3 - ELEC 305</p>
        <p id="explnpart" style="color:white; font-family: monospace;">Please enter your username and password below before submitting.</p><br>
        <form id="qform" onsubmit="submitform(event)" method="post">
            <label style="color:white; font-family: monospace;" for="username">ELEC 305 username:</label> <input type="text" id="username" name="username"><br>
            <label style="color:white; font-family: monospace;" for="password">ELEC 305 password:</label> <input type="password" id="password" name="password"><br>

            <br>
            <hr> <!-- ----------------------------------------------------------------------------------------------------------------------------------------- --> 
            <br>
            
            <label style="color:white; font-family: monospace;" for="p0"><b>Question 3)</b> Follow-up on Question 2, you are now tasked with adding a separate debouncing timer for the 0->1 transition and the 1->0 transition to the <a class="ulink" href="https://ghdl.buraksoner.com/content/hw2_q1_dut.vhdl" target="_blank">original debouncer circuit</a>. 
                <br>Rename the previous generic <font color="#2473c7"><b>param</b></font> to <font color="#2473c7"><b>param_up</b></font> to use it for 0->1 transition, and add a separate generic named <font color="#2473c7"><b>param_down</b></font> for the 1->0 transition.
                <br>Note that your task is to modify the original circuit, not the one you built in Q2 with the enable functionality 
                <br>(i.e., your circuit should not have an enable port, keep the same ports as in the original dut in the link above).
                <br>You can check the server testbench for this question at <a class="ulink" href="https://ghdl.buraksoner.com/content/hw2_q3_dut_tb.vhdl" target="_blank">content/hw2_q3_dut_tb.vhdl</a>.<br>
                <br>A correct implementation would render the following timing diagram:</label>
            <br><br>
            {{ ref_waveform_diag | safe }}
            <br><br>
            <label style="color:white; font-family: monospace;" for="p3">Your modified <font color="#2473c7"><b>dut</b></font> VHDL code:</label><br><br>

            <textarea id="input_text_hw1_q1" is="highlighted-code" spellcheck="false" autocorrect="off" autocapitalize="off"
                      language="vhdl" tab-size="2" name="input_text" style="width: 1000px; height: 500px;" value="{{ input_text }}"></textarea>
            <br><br>
            <input type="hidden" id="buttonaction" name="buttonaction" value="">
            <input type="submit" name="buttonaction" value="Check Syntax" onclick="setButtonAction('Check Syntax')">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="buttonaction" value="Check Functionality" onclick="setButtonAction('Check Functionality')">&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" name="buttonaction" value="Submit Answer" onclick="setButtonAction('Submit Answer')">
        </form>
        <br>
        {{ qout | safe }}
        <br><br>
        <hr> <!-- ----------------------------------------------------------------------------------------------------------------------------------------- --> 
        
        <p id="links" style="color:white;">Links to other questions in HW 2</p>
        <label id="titlepart2" style="color:white;">- <a class="ulink" href="https://ghdl.buraksoner.com/hw2_q1" target="_blank">Question 1</a></label><br>
        <label id="titlepart3" style="color:white;">- <a class="ulink" href="https://ghdl.buraksoner.com/hw2_q2" target="_blank">Question 2</a></label><br>
        <script defer>
            // Load saved data from local storage
            document.addEventListener("DOMContentLoaded", function() {
              const mem_password = localStorage.getItem("password");
              if (mem_password) document.getElementById("password").value = mem_password;
              
              const mem_username = localStorage.getItem("username");
              if (mem_username) document.getElementById("username").value = mem_username;
              
              const mem_input_text_hw1_q1 = localStorage.getItem("input_text_hw1_q1");
              if (mem_input_text_hw1_q1) document.getElementById("input_text_hw1_q1").value = mem_input_text_hw1_q1;
            });

            function setButtonAction(value) {
                document.getElementById("buttonaction").value = value;
            } 
                       
            var qform = document.getElementById("qform");
            var qout  = document.getElementById("qout");
            function submitform(event) {
                event.preventDefault();
                
                const mem_password = document.getElementById("password").value;
                localStorage.setItem("password", mem_password);
                
                const mem_username = document.getElementById("username").value;
                localStorage.setItem("username", mem_username);
                
                const mem_input_text_hw1_q1 = document.getElementById("input_text_hw1_q1").value;
                localStorage.setItem("input_text_hw1_q1", mem_input_text_hw1_q1);

                qform.submit();
                qout.innerHTML = "Submitted request..."
            }
        </script>
    </body>
</html>